<footer class="common-footer">
  <div class="container">
    <div class="row">
      <h5>
        <span>备案号:</span
        ><a
          href="http://beian.miit.gov.cn"
          target="_blank"
          rel="noopener noreferrer"
          >苏ICP备20011704号</a
        >
      </h5>
      <h5>
        <span>©本博客参考</span
        ><a href="https://removeif.github.io/removeif-demo/" target="_blank"
          >辣椒の酱</a
        ><span>的博客进行修改</span>
      </h5>
      <h5>© 版权说明：[本网站所有内容均收集于互联网或自己创作,</h5>
      <h5>
        <span>方便于网友与自己学习交流，如有侵权，请</span
        ><a
          href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=-oSKjJqfh5qfh4uOvpiRhpOfl5LQnZGT"
          target="_blank"
          >留言</a
        ><span>，立即处理]</span>
      </h5>
    </div>
  </div>
</footer>
