<div class="user-img"><img src="./favicon.ico" alt="头像" /></div>
<h2 class="font-regular">Raydaydayup</h2>
<p>👉好好学习，天天向上👈</p>
<nav-statistics count="count"></nav-statistics>
<a
  href="https://github.com/Ray-daydayup"
  class="row nav-github"
  target="_blank"
>
  <i class="iconfont icon-github-fill"></i><span>关注我</span>
</a>
<nav class="row nav-contact">
  <a href="javascript:;" class="col-4-sm"><i class="iconfont icon-QQ"></i></a>
  <a href="javascript:;" class="col-4-sm"
    ><i class="iconfont icon-wechat-fill"></i
  ></a>
  <a
    href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=-oSKjJqfh5qfh4uOvpiRhpOfl5LQnZGT"
    target="_blank"
    class="col-4-sm"
    ><i class="iconfont icon-mail-fill"></i
  ></a>
  <hr />
  <div class="words">
    <p class="font-heavy">应付生活中各种问题的勇气</p>
    <p class="font-heavy">能说明一个人如何定义生活的意义</p>
    <p>——阿德勒</p>
  </div>
</nav>
